@use "./ark-animation.scss" as *;
@use "./ark-variables.scss" as *;

.arkform-theme-default {



    .ark-form,
    .ark-group {
        display: flex;
        position: relative;
        flex-direction: column;
        font-family: var(--ark-font-family);
        background: var(--ark-bg-form);
        gap: 15px;
        max-width: 350px;
        color: var(--ark-color-text);

        button {
            min-height: 30px;
            margin-top: 10px;
        }

        .ark-form-reset-button {
            position: absolute;
            top: -15px;
            right: -5px;
            z-index: 5;

            button {
                background: none;
                color: white;
                border: none;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }


    // Ark Input
    .ark-input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .ark-input-container {
            display: flex;
            position: relative;
            align-items: center;
            border-radius: 5px;
            gap: 2px;
            padding: 1px;
            width: 100%;
            border: 1px solid var(--ark-color-secondary);
            font-family: var(--ark-font-family);
            z-index: 10;

            .ark-input,
            .ark-textarea {
                display: flex;
                flex-direction: column;
                gap: 2px;
                padding: 5px;
                border-radius: 5px;
                width: 100%;
                border: none;
                resize: none;
                color: var(--ark-color-text);
                background: var(--ark-bg-input);
                font-family: var(--ark-font-family);
            }

            .ark-input:focus,
            .ark-textarea:focus {
                background: var(--ark-bg-input-focus);
                outline: none;
            }

            &:focus-within {
                border: 1px solid var(--ark-color-primary);
            }

            &.error {
                border: 1px solid var(--ark-color-error);
            }
        }

        .ark-fore {
            display: flex;
            align-items: center;
            font-family: var(--ark-font-family);
            padding-left: 5px;

            &.error {
                color: inherit;
            }
        }

        .ark-aft {
            display: flex;
            align-items: center;
            font-family: var(--ark-font-family);
            padding-right: 5px;
            gap: 5px;

            &.error {
                color: inherit;
            }
        }

        .ark-label {
            font-size: 0.9rem;
            text-transform: capitalize;
            font-family: var(--ark-font-family);

            &.error {
                color: var(--ark-color-error);
            }
        }

        .ark-help {
            font-size: 0.9rem;
            font-family: var(--ark-font-family);
        }
    }

    // Errors
    .ark-error-container {
        position: relative;
        z-index: 0;

        .ark-errors {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-left: 0;
            margin: 0;
            height: fit-content;
            color: var(--ark-color-error);


            .ark-error {
                color: var(--ark-color-error);
                font-family: var(--ark-font-family);
                font-size: 0.9rem;
                list-style-type: none;
                position: relative;
                z-index: -1;

            }

            .ark-error::first-letter {
                text-transform: capitalize;
            }
        }
    }

}
